body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;

	// .popup__close
	&__close {
		position: absolute;
		top: toRem(10);
		right: toRem(10);
		padding: toRem(10);
		margin: toRem(-10);

		@media (any-hover: hover) {
			&:hover {
				svg {
					transform: rotate(180deg);
				}
			}
		}

		svg {
			flex: 0 0 toRem(10);
			width: toRem(10);
			height: toRem(10);
			fill: #000;
			transition: $transition ease transform 0s;
		}
	}

	// .popup_bottom
	&_bottom {
		.popup__wrapper {
			justify-content: flex-end;
		}
	}
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	width: 100%;
	max-width: toRem(1320);
	border-radius: toRem(2);
	overflow: hidden;
	@include adaptiveValue("padding-top", 56, 32, 0, 1380, 1024);
	@include adaptiveValue("padding-bottom", 56, 32, 0, 1380, 1024);
	@include adaptiveValue("padding-left", 32, 16);
	@include adaptiveValue("padding-right", 32, 16);

	.lock & {
		visibility: visible;
	}
}

.popup_cookie {
	.popup__content {
		padding: 0;

		box-shadow:
			0 4px 4px 0 rgba(0, 0, 0, 0.3),
			0 8px 12px 6px rgba(0, 0, 0, 0.15);
	}
}

.cookie {
	position: relative;

	// .cookie__bg
	&__bg {
		img {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .cookie__content
	&__content {
		padding: toRem(32);

		@media (min-width: $mobile) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: toRem(64);
		}
	}

	// .cookie__text
	&__text {
		flex: 1;
		font-size: toRem(14);
		line-height: math.div(20, 14);
	}

	// .cookie__actions
	&__actions {
		@media (max-width: $mobile) {
			&:not(:first-child) {
				margin-top: toRem(24);
			}
		}
	}

	// .cookie__button
	&__button {
	}
}
