// Заголовки, общие БЄМ блоки и прочее...
h,
.title-h {
  &1 {
    font-family: $fontSecond;
    font-weight: 700;
    line-height: math.div(62, 56);
    @include adaptiveValue("font-size", 56, 32);
  }

  &2 {
    font-family: $fontSecond;
    font-weight: 700;
    line-height: math.div(45, 40);
    @include adaptiveValue("font-size", 40, 26, 0, 834, 375);
  }

  &3 {
    font-family: $fontSecond;
    font-weight: 700;
    line-height: math.div(38, 32);
    @include adaptiveValue("font-size", 32, 24, 0 834, 375);
  }
  &4 {
    font-weight: 500;
    @include adaptiveValue("font-size", 24, 20);
  }
  &5 {
    font-weight: 500;
    font-size: toRem(20);
    line-height: math.div(24, 20);
  }
}

.title-style1 {
  font-style: italic;
  line-height: 1;
  color: #f3efdf;
  text-align: center;

  @media (min-width: $mobile) {
    @include adaptiveValue("font-size", 170, 110, 0, 1320, 834);
  }
  @media (max-width: $mobile) {
    @include adaptiveValue("font-size", 110, 70, 0, 834, 375);
  }
}

hr {
  border-bottom: toRem(1) solid rgba($color: $White, $alpha: 0.5);
  margin-top: toRem(20);
  margin-bottom: toRem(20);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  @include adaptiveValue("margin-top", 80, 40);
  @include adaptiveValue("margin-bottom", 80, 40);
}
.section-bg {
  margin: 0;
}

.icon {
  display: block;
  width: toRem(24);
  height: toRem(24);
  flex: 0 0 toRem(24);
}

._bg {
  pointer-events: none;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

._content {
  & > * {
    margin-top: toRem(16);
    margin-bottom: toRem(16);
  }

  a {
    text-decoration: underline from-font;
    text-underline-offset: 3px;
    transition: $transition ease text-decoration 0s;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline transparent from-font;
      }
    }
  }

  p {
    min-height: toRem(1);
  }

  .text-big {
    line-height: math.div(22, 14);
    @include adaptiveValue("font-size", 20, 14);
  }

  ol {
    counter-reset: item;

    li {
      position: relative;
      list-style-type: none;
      @include adaptiveValue("padding-left", 40, 24);

      &::before {
        content: counter(item) ".";
        counter-increment: item;
        position: absolute;
        left: 0;
      }

      & > ol {
        counter-reset: subitem;

        li {
          &::before {
            content: counter(item) "." counters(subitem, ".") " ";
            counter-increment: subitem;
          }
        }
      }
    }
  }

  ul {
    padding-left: toRem(20);
    display: grid;
    align-content: flex-start;
    row-gap: toRem(8);
    margin: toRem(16) 0;

    li {
      list-style-type: disc;
    }
  }

  .table {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: thin;

    table {
      width: 100%;
      border-collapse: collapse;
    }
  }

  .wp-block-quote {
    cite {
      opacity: 0.6;
    }
  }

  figure {
    img {
    }

    figcaption {
      line-height: math.div(24, 16);
      @include adaptiveValue("font-size", 16, 12);
      @include adaptiveValue("margin-top", 20, 12);
    }
  }

  @for $i from 1 through 4 {
    .columns-#{$i} {
      display: grid;
      @include adaptiveValue("gap", 35, 10);
    }
  }
  .columns-4 {
    @media (min-width: $mobileSmall) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: $mobile) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .columns-3 {
    @media (min-width: $mobileSmall) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .columns-2 {
    @media (min-width: $mobileSmall) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .wp-block-gallery {
    figure {
      margin: 0;

      @media (min-width: $mobileSmall) {
        position: relative;
        padding-bottom: 100%;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}

// Анимации при наведении
[class*="link-"] {
  position: relative;
  white-space: nowrap;

  &::before {
    content: "";
    display: block;
    width: 0;
    border-bottom: toRem(1) solid;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: $transition ease all 0s;
  }
}

.link-hover {
  @media (any-hover: hover) {
    &:hover {
      &::before {
        opacity: 1;
        width: 100%;
      }
    }
  }
}

.link-underline {
  &::before {
    width: 100%;
    opacity: 1;
  }

  @media (any-hover: hover) {
    &:hover {
      &::before {
        opacity: 0;
        width: 0%;
      }
    }
  }
}

.shake-animation {
  display: inline-block;

  @media (any-hover: hover) {
    &:hover {
      animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    }
  }
}

._to-upper {
  & > div {
    transform: translateY(50%);
    transition: 2s ease transform 0s;
  }

  &._active {
    & > div {
      transform: translateY(0);
    }
  }
}

[data-gallery] {
  [data-src] {
    cursor: pointer;
    @media (any-hover: hover) {
      transition: $transition ease opacity 0s;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50% {
    transform: translateX(-1px);
  }
  20%,
  40%,
  60% {
    transform: translateX(1px);
  }
  90% {
    transform: translateX(0.5px);
  }
}

.swiper-arrows {
  display: flex;
  align-items: center;
  gap: toRem(44);

  @media (max-width: $mobile) {
    gap: toRem(16);
  }
}

.swiper-arrow {
  outline: 0;

  @media (min-width: $mobileM) {
    &:not(.swiper-button-disabled) {
      @media (any-hover: hover) {
        &:hover {
          svg {
            fill: #ead798;
          }
        }
      }
    }
  }

  &.swiper-button-disabled {
    cursor: not-allowed;
  }

  svg {
    flex: 0 0 toRem(56);
    transition: $transition ease fill 0s;
    @include adaptiveValue("flex-basis", 56, 38, 0, 834, 375);
    @include adaptiveValue("width", 56, 38, 0, 834, 375);
    @include adaptiveValue("height", 56, 38, 0, 834, 375);
  }

  // .swiper-arrow_prev
  &_prev {
  }

  // .swiper-arrow_next
  &_next {
    transform: rotate(180deg);
  }
}

.above {
  // .above__button
  &__button {
    flex: 0 0 toRem(60);
    width: toRem(60);
    height: toRem(60);
    position: fixed;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: #ead798;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    visibility: visible;
    pointer-events: none;
    transform: translateX(200%);
    transition: 0.5s ease all 0s;
    @include adaptiveValue("right", 40, 20, 0, 1920, 375);
    @include adaptiveValue("bottom", 140, 20, 0, 1920, 375);

    ._show & {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateX(0);
    }
  }
}

.site-breadcrumbs {
  font-size: toRem(15);

  // .site-breadcrumbs__link
  &__link {
  }

  // .site-breadcrumbs__separator
  &__separator {
  }

  // .site-breadcrumbs__title
  &__title {
  }
}
