//====================================================================================================
.footer {
  position: relative;
  color: $White;

  // .footer__bg
  &__bg {
  }

  // .footer__container
  &__container {
    position: relative;
  }

  // .footer__subscribe
  &__subscribe {
    padding-top: toRem(56);
    padding-bottom: toRem(36);
    display: grid;
    align-content: flex-start;
    align-items: center;
    gap: toRem(20);

    @media (min-width: $tablet) {
      grid-template-columns: 1fr percent(625, 1320);
    }
    @media (max-width: $tablet) {
      row-gap: toRem(32);
    }
    @media (max-width: $mobileSmall) {
      row-gap: toRem(20);

      &:not(:last-child) {
        padding-bottom: 0;
      }
    }

    &:not(:last-child) {
      @media (min-width: $mobileSmall) {
        border-bottom: toRem(1) solid rgba($color: $White, $alpha: 0.5);
      }
    }
  }

  // .footer__main
  &__main {
    display: grid;
    align-content: flex-start;
    gap: toRem(64) toRem(20);
    @include adaptiveValue("padding-top", 56, 48, 0, 1320, 834);
    @include adaptiveValue("padding-bottom", 56, 48, 0, 1320, 834);

    @media (min-width: $tablet) {
      grid-template-columns: 1fr percent(625, 1320);
    }
  }

  // .footer__logo
  &__logo {
    &:not(:last-child) {
      margin-bottom: toRem(28);
    }
  }

  // .footer__bottom
  &__bottom {
    padding-top: toRem(32);
    padding-bottom: toRem(32);

    &:not(:first-child) {
      border-top: toRem(1) solid rgba($color: $White, $alpha: 0.5);
    }
  }

  // .footer__privacy
  &__privacy {
    font-size: toRem(13);
    line-height: math.div(16, 13);

    @media (min-width: $tablet) {
      @include adaptiveValue("font-size", 13, 12, 0, 1320, 1024);
    }
  }

  // .footer__menu
  &__menu {
    ul {
      margin: toRem(-4) toRem(-12);
      @include adaptiveValue("margin-left", -12, -6, 0, 1320, 1024);
      @include adaptiveValue("margin-right", -12, -6, 0, 1320, 1024);

      li {
        padding: toRem(4) toRem(12);
        @include adaptiveValue("padding-left", 12, 6, 0, 1320, 1024);
        @include adaptiveValue("padding-right", 12, 6, 0, 1320, 1024);
      }

      a {
        text-decoration: underline transparent from-font;
        text-underline-offset: 3px;
        transition: $transition ease text-decoration 0s;

        @media (any-hover: hover) {
          &:hover {
            text-decoration: underline from-font;
          }
        }
      }
    }
  }

  // .footer__dev
  &__dev {
    display: inline-flex;
    align-items: center;
    gap: toRem(12);

    span {
      font-size: toRem(13);
      line-height: math.div(16, 13);

      @media (min-width: $tablet) {
        @include adaptiveValue("font-size", 13, 12, 0, 1320, 1024);
      }
    }
  }
}

.footer-subscribe {
  // .footer-subscribe__text
  &__text {
    @include adaptiveValue("font-size", 15, 14, 0, 834, 375);

    & > * {
      &:not(:first-child) {
        margin-top: toRem(8);
      }
      &:not(:last-child) {
        margin-bottom: toRem(8);
      }
    }
  }

  // .footer-subscribe__form
  &__form {
    max-width: toRem(625);

    @media (min-width: $mobileSmall) {
      display: flex;
      column-gap: toRem(60);
    }
    @media (min-width: $mobileSmall) and (max-width: $mobileM) {
      @include adaptiveValue("column-gap", 60, 20, 0, 575, 480);
    }
    @media (min-width: $tablet) {
      @include adaptiveValue("column-gap", 60, 20, 0, 1320, 1024);
    }

    .form-label {
      text-transform: uppercase;
      margin-bottom: toRem(8);
    }
  }

  // .footer-subscribe__input
  &__input {
    flex: 1;
    display: grid;
    align-content: flex-start;

    .input {
      font-size: toRem(15);
      line-height: math.div(18, 15);
    }
  }

  // .footer-subscribe__button
  &__button {
    .btn {
      height: 100%;
      min-height: toRem(62);
      min-width: toRem(201);

      @media (min-width: $mobileSmall) and (max-width: $mobileM) {
        @include adaptiveValue("min-width", 201, 162, 0, 575, 480);
      }
      @media (min-width: $tablet) {
        @include adaptiveValue("min-width", 201, 162, 0, 1320, 1024);
      }
      @media (max-width: $mobileSmall) {
        margin-top: toRem(20);
      }
    }
  }
}

.footer-main {
  // .footer-main__left
  &__left {
    @media (min-width: $mobile) {
      display: flex;
      align-items: flex-start;
      gap: toRem(64);

      column-gap: toRem(74);
    }
    @media (min-width: $tablet) {
      @include adaptiveValue("column-gap", 64, 20, 0, 1320, 1024);
    }
    @media (max-width: $mobile) {
      display: grid;
      align-content: flex-start;
      @include adaptiveValue("row-gap", 40, 32, 0, 834, 375);
    }

    .contacts {
      min-width: toRem(152);

      @media (max-width: $mobile) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: toRem(20);
      }

      &:not(:last-child) {
        margin-bottom: toRem(40);
      }
    }

    .socials {
      &:not(:last-child) {
        margin-bottom: toRem(40);
      }
    }
  }

  // .footer-main__column
  &__column {
  }

  // .footer-main__right
  &__right {
    @media (max-width: $mobile) {
      display: none;
    }
  }
}

.footer-book {
  max-width: toRem(381);

  &:not(:last-child) {
    margin-bottom: toRem(56);
  }

  // .footer-book__text
  &__text {
    font-size: toRem(13);
    line-height: math.div(16, 13);

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }

    p {
      color: rgba($color: $White, $alpha: 0.5);
    }

    & > * {
      &:not(:first-child) {
        margin-top: toRem(8);
      }
      &:not(:last-child) {
        margin-bottom: toRem(8);
      }
    }
  }
  // .footer-book__button
  &__button {
    .btn {
      padding-left: toRem(28);
      padding-right: toRem(28);
    }
  }
}

.footer-request {
  // .footer-request__caption
  &__caption {
    &:not(:last-child) {
      margin-bottom: toRem(8);
    }
  }

  // .footer-request__row
  &__row {
    & > * {
      &:not(:last-child) {
        margin-bottom: toRem(20);
      }
    }

    .form__privacy {
      margin-top: toRem(20);
      padding-top: toRem(16);
      border-top: toRem(1) solid rgba($color: $White, $alpha: 0.5);
    }

    .input {
      font-weight: 500;
      font-size: toRem(12);

      &::placeholder {
        text-transform: uppercase;
      }
    }

    .form__submit {
      margin-top: toRem(8);
    }
  }
}

.footer-bottom {
  display: flex;
  align-items: center;
  gap: toRem(20);

  @media (max-width: $tablet) {
    flex-wrap: wrap;
    gap: toRem(32) 0;
  }

  // .footer-bottom__left
  &__left {
    flex: 0 1 60%;

    @media (max-width: $tablet) {
      flex: 0 0 50%;
    }
    @media (max-width: $mobile) {
      flex: 0 0 100%;
    }
  }

  // .footer-bottom__center
  &__center {
    flex: 1 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $tablet) {
      order: 3;
      flex: 0 0 100%;
      justify-content: flex-start;
    }
    @media (max-width: $mobile) {
      order: initial;
    }
  }

  // .footer-bottom__right
  &__right {
    flex: 0 1 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: $tablet) {
      flex: 0 0 50%;
    }
    @media (max-width: $mobile) {
      flex: 0 0 100%;
      justify-content: flex-start;
    }
  }
}

//====================================================================================================
